
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/Frontend/css/styles.css">
</head>
<body>
    <div class="box">
        <p class="heading"> FAQS </p>
        <div class="faqs">
        
        
        <details >
        <summary> What is meant by a Blood Assist?</summary>
        <p class="text">Blood assist is an application used to carry out any of the operation for collection of user details who are willing to donate blooad and search for the donors based on location and required blood group.</p>
        </details>
        
        
        <details >
        <summary> At what age can I start donating blood? </summary>
        <p class="text"> One must be at least 16 years old and weigh at least 110 pounds (approximately 50 kilograms) to give blood.
        </p>
        </details>
        
        <details >
        <summary> How to register for donating blood ? </summary>
        <p class="text">Signup from the Home page and you will be able to see the option for register as donor.
        </p>
        </details>
        
        
        
        <details>
        <summary> If I have a health issues can i donate the blood? </summary>
        <p class="text">No, blood centers require that you be in good health (symptom-free) and feeling well.</p>
        </details>
        
        
        </div>
</body>
</html>